/* Had to add the basePath manually since I can't import it in here. */
  
@font-face {
    font-family: "GalanoGrotesque";
    font-style: normal;
    font-weight: normal;
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesque-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Galano Grotesque Alt (Numbers)";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Italic.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    unicode-range: U+30-39; /* affects only 0-9 */
    ascent-override: 50%; /* necessary for line-height matching, not necessary to be 50% - not supported on safari! */
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt (Numbers)";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Regular.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+30-39;
    ascent-override: 50%;
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt (Numbers)";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBold.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+30-39;
    ascent-override: 50%;
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt (Numbers)";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBoldItalic.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    unicode-range: U+30-39;
    ascent-override: 50%;
  }
  
  
  @font-face {
    font-family: "AtkinsonHyperlegible";
    src: local("☞Atkinson Hyperlegible"), local("AtkinsonHyperlegible-Regular"),
        url("/framed-wrapped/fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Regular.woff2") format("woff2"),
        url("/framed-wrapped/fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "AtkinsonHyperlegible";
    src: local("☞Atkinson Hyperlegible"), local("AtkinsonHyperlegible-Bold"),
        url("/framed-wrapped/fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Bold.woff2") format("woff2"),
        url("/framed-wrapped/fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Regular.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Medium.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-MediumItalic.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBoldItalic.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Galano Grotesque Alt";
    src: url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBold.woff2") format("woff2"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBold.woff") format("woff"),
         url("/framed-wrapped/fonts/Galano-Grotesque/GalanoGrotesqueAlt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  